In [1]:
import pandas as pd

In [2]:
productos = pd.read_csv('./productos.csv')
categorias = pd.read_csv('./categorias.csv')
clientes = pd.read_csv('./clientes.csv')
ventas = pd.read_csv('./ventas.csv')

In [3]:
productos.head()

   id_producto                nombre  precio  stock  id_categoria
0        10119        Kuromi Y2K Top   14.99      2          2035
1        10198   Hello Kitty Pajamas   25.99      1          2035
2        15218       Dark mini skirt   15.65      3          2033
3        15219  Black Leather Jacket   85.99      4          2033
4        15220    Dark Velvet Choker   12.99     10          2033

In [4]:
categorias.head()

   id_categoria nombre_categoria
0          2033           Gothic
1          2034              Y2K
2          2035           Sanrio
3          2036            Girly
4          2037          Cosplay

In [5]:
clientes.head()

,id_cliente,nombre,email,direccion,telefono,provincia
0,1,Kim Hajun,kimkim98@hotmail.com,Park Avenue 1178,82296745122,NaN
1,2,Lopez Andrea,andylp00@gmail.com,Av. Congreso 2011,541188765234,Buenos Aires
2,3,Garcia Juan,juangarcia12@gmail.com,Calle Corrientes 1234,541134567890,Buenos Aires
3,4,Martinez Sofia,sofiamartinez23@gmail.com,Calle San Martin 456,541198765432,Buenos Aires
4,5,Rodriguez Carlos,carlosr123@gmail.com,Av. Libertador 6543,541144567890,Buenos Aires

In [6]:
ventas.head()

,id_venta,fecha,email,provincia,id_categoria,total,id_producto
0,1,2024-01-21,victoriagarcia@gmail.com,San Lius,2033,12.99,15220
1,2,2024-02-15,alejandromartinez@gmail.com,San Luis,2037,95.60,28958
2,3,2024-06-18,fedsilva@gmail.com,Buenos Aires,2035,14.99,10119
3,4,2024-03-19,sofiamartinez23@gmail.com,Buenos Aires,2035,25.99,10198
4,5,2024-02-10,juangarcia12@gmail.com,Buenos Aires,2037,126.99,28989

In [7]:
clientes = clientes.dropna()

In [8]:
clientes.head()

,id_cliente,nombre,email,direccion,telefono,provincia
1,2,Lopez Andrea,andylp00@gmail.com,Av. Congreso 2011,541188765234,Buenos Aires
2,3,Garcia Juan,juangarcia12@gmail.com,Calle Corrientes 1234,541134567890,Buenos Aires
3,4,Martinez Sofia,sofiamartinez23@gmail.com,Calle San Martin 456,541198765432,Buenos Aires
4,5,Rodriguez Carlos,carlosr123@gmail.com,Av. Libertador 6543,541144567890,Buenos Aires
5,6,Perez Camila,camiperez89@gmail.com,Calle Lavalle 987,541199876543,Buenos Aires